:root {
  --itemSize: 48px;
}

html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

div#main_game_gui {
  display: block;
  margin: 0;
  user-select: none;
  padding: 0;
}

div#inventory_hotbar {
  background-color: rgb(35, 35, 35);
  border-radius: 2px;
  position: absolute;
  padding: 0px 3px 0px 3px;
  top: 90%;
  user-select: none;
  text-align: center;
  left: 25%;
}

div.inventory_slot {
  user-select: none;
  border-radius: 3px;
  position: relative;
  top: 2px;
  background-color: rgb(50, 48, 49);
  display: inline-block;
  width: var(--itemSize);
  height: var(--itemSize);
  text-align: center;
}

div.inventory_slot img {
  user-select: none;
  width: calc(var(--itemSize) / 3 * 2);
  height: calc(var(--itemSize) / 3 * 2);
  border-radius: 5px;
  align-items: center;
  display: flex;
  margin: 0 auto;
  transform: translate(0, 25%);
}
